{% extends "base.html" %}

{% block title %} Explore Blogs {% endblock title %}

{% block content %}
    <section class="text-gray-600 body-font">
        <div class="container p-5 mx-auto">
            <div class="h-32">
                <h1 class="text-4xl font-bold text-center text-gray-800">Recent Blogs</h1>
            </div>

            <div class="flex flex-wrap -m-4">
                {% for blog in blogs %}
                <div class="p-4 md:w-1/3">
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="/media/{{blog.image}}" alt="blog">
                    <div class="p-6">
                    <h2 class="tracking-widest text-sm title-font font-medium text-gray-500 mb-1">{{blog.username}}</h2>
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{blog.title}}</h1>
                    <p class="leading-relaxed mb-3">{{blog.content|truncatechars:100}}</p>
                    <form action="/view-blog/" method="post" class="flex items-center flex-wrap ">
                        {% csrf_token %}
                        <input type="text" name="blogId" value="{{blog.id}}" class="hidden">
                        <button type="submit" id="{{blog.id}}" class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0 hover:cursor-pointer">Learn More
                        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M5 12h14"></path>
                            <path d="M12 5l7 7-7 7"></path>
                        </svg>
                        </button>
                    </form>
                    </div>
                </div>
                </div>
                {% endfor %}
            </div>
         
        </div>
        <script>
            function viewBlog(blogId){
                fetch("/view-blog/",
                {
                    headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                    },
                    method: "POST",
                    body: JSON.stringify({'blogId': blogId})
                }).then((res)=>res.json()).then((data)=>{
                    console.log(data);
                });
            }
        </script>
    </section>
{% endblock content %}