{% extends "base.html" %}

{% block title %} Contact {% endblock title %}

{% block content %}
    <div class="mx-10 my-10 lg:mx-44 lg:my-20">
        <h1 class="text-4xl font-bold text-center">Contact</h1>
        <form action="/contact/" method="post" class="flex flex-col justify-center lg:mx-52 my-20">
            {% csrf_token %}
            <div class="flex flex-col justify-center w-[100%] lg:flex-row lg:justify-between">
                <span class="lg:w-[50%] lg:mr-2">
                    <label for="fname" class="text-xl font-semibold text-slate-600">First Name</label>
                    <input type="text" name="fname" id="fname" class="block w-[100%] text-2xl font-semibold text-slate-600 border-2 border-slate-500 rounded-md shadow-md px-5 py-2 outline-none" required />
                </span>
                <span class="lg:w-[50%] mt-5 lg:mt-0 lg:ml-2">
                    <label for="lname" class="text-xl font-semibold text-slate-600">Last Name</label>
                    <input type="text" name="lname" id="lname" class="block w-[100%] text-2xl font-semibold text-slate-600 border-2 border-slate-500 rounded-md shadow-md px-5 py-2 outline-none" required />
                </span>
            </div>
            <div class="mt-5">
                <label for="email" class="text-xl font-semibold text-slate-600">Email</label>
                <input type="email" name="email" id="email" class="block w-[100%] text-2xl font-semibold text-slate-600 border-2 border-slate-500 rounded-md shadow-md px-5 py-2 outline-none" required />
            </div>
            <div class="mt-5">
                <label for="msg" class="text-xl font-semibold text-slate-600">Message</label>
                <textarea name="msg" id="msg" cols="30" rows="5" class="block w-[100%] text-2xl font-semibold text-slate-600 border-2 border-slate-500 rounded-md shadow-md px-5 py-2 outline-none" required ></textarea>
            </div>
            <div class="mt-10 flex justify-center">
                <button type="submit" class="px-20 lg:w-[90%] py-2 text-lg font-semibold bg-indigo-700 text-white hover:bg-gray-900 rounded-md">Send</button>
            </div>
        </form>
    </div>
{% endblock content %}