{% extends "base.html" %}

{% block title %} Create Blog {% endblock title %}

{% block content %}
    <div class="mx-5 lg:mx-32 xl:mx-32 my-32">
        <form action="/create-blog/" method="post" class="flex flex-col lg:mx-32" accept-charset="UTF-8"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="w-[100%]">
                <label for="title" class="text-2xl font-semibold">Title :</label>
                <input type="text" name="title" id="title" class="block mt-1 w-[100%] text-2xl font-semibold text-slate-600 border-2 border-slate-500 rounded-md shadow-md px-5 py-2 outline-none" required />
            </div>
            <div class="w-[100%] mt-10">
                <label for="imgUpload" class="text-2xl font-semibold">Upload Image :</label>
                <input type="file" accept="image/*" onchange="displayImg()" name="img" id="imgUpload" class="my-2 w-[100%] text-2xl font-semibold text-slate-600 border-2 border-slate-500 rounded-md shadow-md px-5 py-2 outline-none" required />
                <img src="#" id="imgBox" style="display: none;" alt="img" class="w-[900px] h-auto h-max-[100%] mx-auto rounded-lg my-10">
            </div>
            <div class="mt-10 w-[100%]">
                <label for="content" class="text-xl font-semibold text-slate-600">Write Blog Post:</label>
                <textarea name="content" id="content" class="block w-[100%] text-2xl mt-2 h-[70vh] font-semibold text-slate-600 border-2 border-slate-500 rounded-md shadow-md p-5 outline-none" required ></textarea>
            </div>
            <div class="mt-10 flex justify-center">
                <button type="submit" class="px-20 lg:w-[90%] py-2 text-lg font-semibold bg-indigo-700 text-white hover:bg-gray-900 rounded-md">Publish Your Blog</button>
            </div>
        </form>
    </div>
    <script>
        const displayImg = ()=>{
            let inputImg = document.getElementById('imgUpload');
            let file = inputImg.files[0];
            let imgBox = document.getElementById('imgBox');
            if (file) {
                imgBox.style.display = "block";
                imgBox.src = URL.createObjectURL(file);
            }
        }
    </script>
{% endblock content %}